<extend name="Public/base"/>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu" />
</block>
<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu" />
</block>


<block name="body">
	
	<!-- 按钮工具栏 -->
	<div class="cf">
		<div class="fr">
		<a class="btn" href="javascript:void(0);" onclick="addQuestion({$exam_id});" data="{:U('Exam/addquest',array('exam_id'=>$exam_id))}">添加题目</a>
		</div>
 <ul class="tab-nav nav">
        <li data-tab="tab1"><a href="{:U('admin/course/add', array('id'=>$exam_id))}">课件</a></li>
        <li class="current"><a href="{:U('admin/exam/question', array('exam_id'=>$id))}">试题</a></li>
    </ul>

	<!-- 数据表格 -->
    <div class="data-table">
        <foreach name="examQuestion" item="val">
            <div id="question_{$val.quest_id}">
            <div class="examTitle" style="margin-top:10px; font-size:16px;">
                {$val.quest_id}. <span class="question_title">{$val.title} </span>
                <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;[ 
                    <a href="javascript:void(0);" onclick="addQuestion({$exam_id}, {$val.quest_id})">修改</a>&nbsp;&nbsp;
                <a href="javascript:void(0);" onclick="delQuestion({$val.quest_id});">删除</a> ]</span>
            </div>
            <foreach name="val['options']" item="list">
                <div class="fl margintop item_list" style="margin-top:10px; margin-right:20px;">
                    <input type="checkbox" onclick="return false" <eq name="list['opt_value']" value="1">checked="true"</eq> />
                    <span class="item_val">{$list.opt_name}</span>
                </div>
            </foreach>
            </div>
            <div style="clear:both; height:10px; overflow:hidden; border-bottom:1px dotted #ccc;"></div>
        </foreach>
    </div>
</div>
<!-- 试题添加弹窗 -->
<style>
    .alTable td{
        padding:5px;
    }
    .answerList{margin-top:5px;}
</style>
<div style="width:500px;" id="addQuestion">
    <table width="500" cellspacing="5" border="0" class="alTable">
        <tr>
            <td width="80" align="right">标题：</td>
            <td>
                <input type="text" name="title" id="title" value="" size="50"/>
            </td>
        </tr>
        <tr>
            <td align="right">类型：</td>
            <td id="questTypeRadio">
                <label for="quest_type1"><input type="radio" name="quest_type" id="quest_type1" value="1" checked="true"/>单选</label>&nbsp;&nbsp;
                <label for="quest_type2"><input type="radio" name="quest_type" id="quest_type2" value="2" />复选</label>
            </td>
        </tr>
        <tr>
            <td align="right">选项：</td>
            <td>
                添加选项中，选中状态的为正确答案
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td id="question_list">
                <div class="answerList">
                    <input type="checkbox" name="answerChk[]" value="1" />
                    <input type="text" name="answer[]" id="answer1" value="" />
                </div>
                <div class="answerList">
                    <input type="checkbox" name="answerChk[]" value="1" />
                    <input type="text" name="answer[]" id="answer1" value="" />
                </div>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td id="question_list">
                <button id="addButtonGo" style="padding:0 10px;"> 添加 </button>
            </td>
        </tr>
    </table>
</div>

</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
var QuestionManage = function(setting){
    return QuestionManage.prototype.init(setting);
};
QuestionManage.prototype = {
    
    
    init: function(setting){
        for(var i in setting){
            this[i] = setting[i];
        }
        
        this.eventInit();
        return this;
    },
    eventInit: function() {
        
    }
};
QuestionManage.prototype.init.prototype = QuestionManage.prototype;

//添加/修改试题弹出窗
var contents = '<div id="workDiv">'+$('#addQuestion').html()+"</div>";
$('#addQuestion').remove();

//添加试题操作
function addQuestion(exampId, questionId)
{
    //默认单选项
    var defaultChked = 1; 
    var questionId = questionId | 0
    //弹窗
    artDialog({
        id:'addRequestionBox',
        title:'添加试题',
        content:contents,
        ok:function(){
            var datas = {
              exam_id:{$exam_id},
              question_id:questionId,
              title:$('#workDiv #title').val(),  //试题标题
              quest_type:$('#questTypeRadio input:radio:checked').val(),
              data_list:[]
            };
            //计算选择题
            var regex = /[^\s]+/;            
            if(regex.test(datas.title) == false){
                alert('请输入试题标题');
                return false;
            }         
            
            var hasAnswer = 0;  //是否存在着答案
            $('#question_list .answerList').each(function(i){
                var inptVal = $(this).find('input:text').val();
                if(regex.test(inptVal)){
                    var isChecked = 0;
                    if($(this).find('input:checkbox').is(":checked")){
                        isChecked = 1;
                        hasAnswer++;
                    }    
                    datas.data_list[datas.data_list.length] = {opt_name:inptVal, is_checked:isChecked}
                }
            });
            
            if(defaultChked == 1 && hasAnswer!=1){
                alert('单选题请选中一个答案!');
                return false;
            }
            
            if(defaultChked == 2 && hasAnswer<2){
                alert('多选必须选择中多个答案!');
                return false;
            }
            
            $result = false;
            //提交试题
            $.ajax({
                type:'post',
                dataType:'json',
                url:'{:U("admin/exam/addQuestion")}',
                data:datas,
                async:false,
                success:function(rel){
                    if(rel.code == 1){
                        location.href = location.href;
                        $result = true;
                    }else{
                        alert(rel.msg);
                        $result = false;
                    }
                }
            });
            
           return false;
        },
        cancel:function(){
            return true;
        }
    });
    
    //如果是编辑试题，数据初始化填充
    if(questionId){
        var questObj = $('#question_'+questionId);
        var titles = questObj.find('.question_title').eq(0).html();
        $('#title').val(titles);
        var checkedNum = questObj.find('input:checkbox:checked').size(); 
        if(checkedNum > 1){
            defaultChked = 2;
            $('#quest_type2').attr('checked', true);
        }else{
            defaultChked = 1;
            $('#quest_type1').attr('checked', true);
        }
        $('#question_list').html('');
        questObj.find('.item_list').each(function(i){
            var htmlStr = '<div class="answerList">';
            var titleStr = $(this).find('.item_val').eq(0).html(); 
            htmlStr += '<input type="checkbox" name="answerChk[]"'; 
            if($(this).find('input:checkbox').is(":checked")){
               htmlStr += ' checked="true" ';
            }
            htmlStr += ' value="1" />';            
            htmlStr += ' <input type="text" name="answer[]" id="answer1" value="'+titleStr+'"/>';
            if(i > 1){
                htmlStr += ' <button>删除</button>';
            }
            htmlStr += '</div>';
            $('#question_list').append(htmlStr);
        });
        $('#question_list').find('button').click(function(){
            $(this).parent('.answerList').remove();
        });
    }
    
    
    //选择单选、多选事件注册
    $('#questTypeRadio input:radio').click(function(){
       defaultChked = $(this).val() - 1 + 1;
   });
    
    //添加答案事件注册
    $('#addButtonGo').click(function(){
        var strObj = $('<div class="answerList"><input type="checkbox" name="answerChk[]" value="1" /> <input type="text" name="answer[]" value="" /> <button>删除</button></div>');
        strObj.find('button').click(function(){
            $(this).parent('.answerList').remove();
        });
        $('#question_list').append(strObj);
    });
}

//删除试题
function delQuestion(questionId)
{
    if(confirm('您确定要删除该试题吗？')){
        $.get("{:U('admin/exam/delQuestion')}", {question_id:questionId}, function(rel){
            if(rel == 'true'){
                location.href = location.href;
            }else{
                alert('删除失败！');
            }
        });
    }
}
</script>
</block>
