<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="lt-ie10 lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html class="lt-ie10">
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html>
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录品森企业管理</title>
<link href="__CSS__/global.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/ps-admin.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/icon.css" rel="stylesheet" type="text/css" />
</head>
	<frameset rows="70,*" cols="*" frameborder="no" border="0" framespacing="0">
			<frame src="{:U('index/tops')}" name="mainFrame" frameborder="no" scrolling="No" noresize="noresize" id="mainFrame" title="mainFrame">
			  <frameset name="myFrame" cols="201,*" frameborder="no" border="0" framespacing="0">
			      <frame src="{:U('index/menus')}" name="leftFrame" frameborder="no" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame">
			      	<!--内容框架-->
			      	<frameset rows="*" cols="*" frameborder="no" border="0" framespacing="0">
			      		<!--右侧导航-->
			      	    
			      	    <!--右侧主内容-->
			      	    <frame src="{:U('store/index')}" name="manFrame" frameborder="no" id="manFrame" title="manFrame"></frameset>
			      	</frameset>
			      	<!--内容框架End-->
	  </frameset>

<html>