<include file="Public/header" />
    
<div class="left_body" style="height: 700px;">
	<div class="left_menu layout">
		<ul>
			<li><a href="{:U('store/index')}" target="manFrame">分店管理</a></li>
			<li><a href="{:U('member/index')}" target="manFrame">店员管理</a></li>
            <!--<li><a href="{:U('course/index')}" target="manFrame">课件管理</a></li>-->
			<!--<li><a href="{:U('use/index')}" target="manFrame">使用分析</a></li>-->
			<li><a href="{:U('store/baseinfo')}" target="manFrame">修改密码</a></li>
		</ul>
	</div>
</div>
<include file="public/footer" />