<include file="public/header" />
    
<div class="left_body">
	<div class="left_menu layout">
		<ul>
			<li><a href="{:U('store/index')}" target="manFrame">分店管理</a></li>
			<li><a href="fd_master_dianyuan.html" target="manFrame">店员管理</a></li>
			<li><a href="javascript:void(0);" target="manFrame">使用分析</a></li>
			<li><a href="fd_master_zhanghu.html" target="manFrame">修改密码</a></li>
		</ul>

		<!-- <ul>
			<li><a href="javascript:void(0);" target="manFrame">药商管理</a></li>
			<li><a href="javascript:void(0);" target="manFrame">药品管理</a></li>
			<li><a href="javascript:void(0);" target="manFrame">药店管理</a></li>
			<li><a href="javascript:void(0);" target="manFrame">宣传广告</a></li>
			<li><a href="javascript:void(0);" target="manFrame">培训管理</a></li>
			<li><a href="javascript:void(0);" target="manFrame">活动管理</a></li>
		</ul> -->
	</div>
</div>