<include file="public/header" />
<header class="header layout">
        <div class="top-menu z-9 posa login-body">
                <div class="top_main_ram layout">
                        <div class="logo fl"><img src="__IMG__/logo_left.png" class="fl"><span class="logo_font fl">{$storeName}</span></div>
                        <div class="admin_right fr">欢迎您，<span class="admin_icon"><img src="__IMG__/admins_user.png"></span><strong>{$userName}</strong><a href="javascript:logout();" class="out_btn">退出</a></div>
                </div>
        </div>
</header>
<script>
/**
 * 药店管理后台退出操作
 */
function logout()
{
    $.get("{:U('user/logout')}", [], function(rel){
        if(rel.code == 1){
            parent.location = '{:U("user/login")}';
        }
    }, 'json');
}
</script>