<include file="public/header" />
<header class="header layout">
        <div class="top-menu z-9 posa login-body">
                <div class="top_main_ram layout">
                        <div class="logo fl"><img src="__IMG__/logo_left.png" class="fl"><span class="logo_font fl">广东省家和乐医药有限公司</span></div>
                        <div class="admin_right fr">欢迎您，<span class="admin_icon"><img src="__IMG__/admins_user.png"></span><strong>admin</strong><a href="javascript:void(0);" class="out_btn">退出</a></div>
                </div>
        </div>
</header>