<div id="subnav" class="subnav">
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="{:U('admin/course/index')}">课件管理</a>
        </li>
        <li>
            <!--<a class="item" href="/pinsen/index.php?s=/admin/exam/index.html">考卷管理</a>-->
        </li>
    </ul>
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="{:U('admin/drug_store/index')}">药店管理</a>
        </li>
    </ul>
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="{:U('admin/drug/index')}">药品管理</a>
        </li>
    </ul>
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="{:U('admin/pharma/index')}">药厂管理</a>
        </li>
    </ul>
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="{:U('admin/activity/index')}">活动管理</a>
        </li>
    </ul>
    <ul class="side-sub-menu">
        <li>
            <a class="item" href="{:U('admin/advertise/index')}">广告管理</a>
        </li>
    </ul>
</div>
<script>
    $(function () {
        $(".side-sub-menu li").hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover");
        });
    })
</script>