<extend name="layout"/>

<!-- 主体内容区域 -->
<block name="main_content">
    <form action="{}" method="post">
        <table width="100%" border="1" bordercolor="#cccccc" style="border-collapse: collapse;">
            <tr>
                <td>基本信息</td>
            </tr>
            <tr>
                <td>接口分类</td>
                <td>
                    <select name="cate_id">
                        
                    </select>
                </td>
            </tr>
        </table>
    </form>
</block>
<!-- 主体内容区域 结束 -->