<extend name="layout"/>

<!-- 主体内容区域 -->
<block name="main_content">
    <h3 class="font_b line_h_a bd_btm mb">添加接口</h3>
    <form action="{:U('admin/add')}" method="post">
        <table width="100%" border="1" bordercolor="#cccccc" class="tabs">
            <tr>
                <th colspan="2" class="bg_grey">基本信息</th>
            </tr>
            <tr>
                <td class="aright wd_b">接口分类：</td>
                <td>
                    <select name="cate_id" width="100">
                        <volist name="categorys" id="val">
                            <option value="{$val.cate_id}">{$val.cate_name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="150" class="aright">接口名称：</td>
                <td>
                    <input type="text" name="interface_name" value="" class="wd_a"/>
                </td>
            </tr>
            <tr>
                <td width="150" class="aright">控制器名称：</td>
                <td>
                    <input type="text" name="controller_name" value=""  class="wd_a"/>
                </td>
            </tr>
            <tr>
                <td width="150" class="aright">方法名称：</td>
                <td>
                    <input type="text" name="action_name" value=""  class="wd_a"/>
                </td>
            </tr>
            <tr>
                <td width="150" class="aright">接口说明：</td>
                <td>
                    <textarea name="interface_intro" rows="5" cols="60"></textarea>
                </td>
            </tr>
        </table>
        <table width="100%" border="1" bordercolor="#cccccc" class="tabs mt" id="argTab">
                        <tr bgcolor="#efefef">
                            <td class="wd_b">参数字段</td>
                            <td class="wd_b">参数名称</td>
                            <td class="wd_b">默认值</td>
                            <td class="wd_b">是否必须</td>
                            <td><span class="dl_btn" id="addBtn">+</span></td>
                        </tr>
                        <tr id="default_tr">
                            <td><input type="text" name="port_key[]" value=""></td>
                            <td><input type="text" name="port_name[]" value=""></td>
                            <td><input type="text" name="port_value[]" value=""></td>
                            <td><input type="checkbox" name="is_must[]" value="1"></td>
                            <td><span class="dl_btn delBtn">x</span></td>
                        </tr>
                    </table>
        
        <table width="100%" border="0" class="tabs mt">
            <tr>
                <td class="aright wd_b">&nbsp;</td>
                <td>
                    <input type="submit" class="submit_btn" value="提 交"/>
                </td>
            </tr>
        </table>
    </form>
    <script>
        $(function(){
            var defaultTr = $('#default_tr').html();
            
            //添加参数行
            $('#addBtn').click(function(){
                var newTr = $('<tr>' + defaultTr + '</tr>');
                newTr.appendTo($('#argTab'));
                //绑定事件
                newTr.find('.delBtn').click(function(){
                    $(this).parent().parent('tr').remove();
                });
            });
            
            //删除参数行
            $('#argTab .delBtn').click(function(){
                $(this).parent().parent('tr').remove();
            });
        });
    </script>
</block>
<!-- 主体内容区域 结束 -->