<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$meta_title}|接口管理平台</title>
    <link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="__CSS__/public.css"  rel="stylesheet" />
     <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <block name="style"></block>
    <style>
        
    </style>
</head>
<body>
    <div class="header">
        <h2 class="font_a pl fl">接口说明</h2>
        <ul class="mina_u">
            <volist name="categorys" id="val">
            <li><a href="{:U('port/cate', 'id='.$val.cate_id)}">{$val.cate_name}</a></li> 
            </volist>
        </ul>
    </div>
    <div style="height:35px; line-height: 35px; padding:0 10px;">
        位置：<block name="position"><a href="{:U('?')}">首页</a></block>
    </div>
    <div class="" style="float:left; display:inline; margin-left:10px; width:200px">
        <ul class="l_menu">
            <li><a href="">文章</a></li>
            <li><a href="">视频</a></li>
        </ul>
    </div>
    <div style="margin:0px 10px 0 220px;">
        <block name="main_content">
            主体内容区域
        </block>
    </div>
</body>
</html>
