<include file="public/header" />

<div>
	<div class="main_title">分店管理</div>
	<div class="main_content_box layout">
		<div class="table-box">
			<table width="100%" cellspacing= "1" cellpadding= "1" bgcolor="#eee">
				<thead>
					<tr>
						<th>店名</th>
						<th>地址</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>嘉禾药店</td>
						<td>深圳市南山区南山街道1106号铺</td>
						<td>
							<a href="fd_master_address.html" target="manFrame">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
					<tr>
						<td>嘉禾药店</td>
						<td>广东省深圳市南山区南山街道1106号铺</td>
						<td>
							<a href="fd_master_address.html" target="manFrame">修改</a>
							<a href="javascript:void(0);">删除</a>
						</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
</div>