<include file="public/header" />
<div class="main_title"><if condition="empty($uid)">增加<else/>修改</if>店员信息</div>
    <div class="main_content_box layout">
        <div class="table-box">
            <form action="{:U('member/add')}" method="post" id="addForm" >
            <div class="error">{$info}</div>
            <table width="100%" cellspacing= "1" cellpadding= "1" bgcolor="#eee">
                <tbody>
                    <tr>
                        <th width="120" align="right">姓名：</th>
                        <td class="text_left"><input type="text" name="truename" id="truename" class="l-input" value="{$detail.truename}" style="width:200px;" /></td>
                        
                    </tr>
                    <tr>
                    <th width="120" align="right">性别：</th>
                        <td class="text_left">
                            <label for="sex_woman"><input type="radio" name="sex" id="sex_woman" value="0" <if condition="$detail['sex'] eq 0">checked="true"</if> />女</label>&nbsp;&nbsp;
                            <label for="sex_man"></label><input type="radio" id="sex_man" name="sex" value="1" <if condition="$detail['sex'] eq 1">checked="true"</if>/>男</label>&nbsp;&nbsp;                            
                        </td>
                    </tr>
                    <tr>
                        <th align="right">手机：</th>
                        <td class="text_left"><input type="text" name="mobile" id="mobile" class="l-input" value="{$detail.nickname}" style="width:200px;" /> </td>
                    </tr>
                    <tr>
                        <th align="right">邮箱：</th>
                        <td class="text_left"><input type="text" id="email" name="email"  value="{$detail.email}" class="l-input" style="width:200px;" /></td>
                    </tr>                    
                    <tr>
                        <th align="right">职务：</th>
                        <td class="text_left">
                            <select name="group_type">
                            	<option value="0">店员</option>
                            	<option value="1">店长</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th align="right">密码：</th>
                        <td class="text_left"><input type="password" id="password" name="password"  value="" class="l-input" style="width:200px;" /></td>
                    </tr>  
                    <tr>
                        <th align="right">确认密码：</th>
                        <td class="text_left"><input type="password" id="confirm_passwd" name="confirm_passwd"  value="" class="l-input" style="width:200px;" /></td>
                    </tr>                     
                </tbody>
            </table>
            <div class="btn_box layout">
                <input type="submit" class="green_btn" value="保 存" id="btlogin" name="btlogin">
            </div>    
                <input type="hidden" name="uid" value="{$detail.uid}" />
            </form>      
        </div>
    </div>
<script>
//添加手机验证方法
$.validator.addMethod("isPhone", function(value, element, param) {
    return /^1\d{10}$/.test(value);
}, "请输入有效的手机号码");  

$(function(){
	$('#addForm').validate({
		rules:{
			truename:{
				required:true,
				minlength:2
			},
			mobile:{
				required:true,
				isPhone:true,
				remote:{
					type:'post',
					url:'{:U("member/checkMobile")}',
					data:{mobile:function(){return $('#mobile').val();}}
				}
			},
			email:{
				required:true,
				email:true
			},
			password:{
				required:true,
				rangelength:[6,32]
			},
			confirm_passwd:{
				equalTo:'#password'
			}
		},
		messages:{
			truename:'请输入姓名',
			mobile:{
				required:'请输入手机号码',
				remote:'您的手机号已被占用'
			},
			email:'请输入有效的邮箱地址',
			password:'请输入6-32位的密码',
			confirm_passwd:'两次输入的密码不一致'
		},
		debug: false
	});	
});
</script>
<include file="public/footer" />