<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="lt-ie10 lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html class="lt-ie10">
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html>
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$seoTitle}</title>
<link href="__CSS__/global.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/ps-admin.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/icon.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
</head>
<body>